# Task #08 作業 02【實作題】機器學習 - 分類與迴歸
請根據給定的資料集，分成前 7 筆的訓練資料與後 3 筆的測試資料完成以下兩個分析：

利用 Country, Age, Salary 對 Purchased 進行分類學習，印出後三筆資料的 Purchased 為何
利用 Country, Age, Purchased 對 Salary 進行迴歸學習，印出後三筆資料的 Salary 為何
❏ Sample Code:

import pandas as pd
import statsmodels.api as sm

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

'''
Your Code
'''

In [1]:
import pandas as pd
import statsmodels.api as sm

from sklearn.preprocessing import StandardScaler

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

In [2]:
data = pd.read_csv(source)
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
# data cleaning
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [4]:
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())

In [5]:
data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [6]:
data.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [7]:
# data preprocess

In [8]:
X = data[["Country","Age","Salary"]]
y = data["Purchased"]
X,y

(   Country        Age        Salary
 0   France  44.000000  72000.000000
 1    Spain  27.000000  48000.000000
 2  Germany  30.000000  54000.000000
 3    Spain  38.000000  61000.000000
 4  Germany  40.000000  63777.777778
 5   France  35.000000  58000.000000
 6    Spain  38.777778  52000.000000
 7   France  48.000000  79000.000000
 8  Germany  50.000000  83000.000000
 9   France  37.000000  67000.000000,
 0     No
 1    Yes
 2     No
 3     No
 4    Yes
 5    Yes
 6     No
 7    Yes
 8     No
 9    Yes
 Name: Purchased, dtype: object)

In [9]:
X = pd.get_dummies(X)
X

         Age        Salary  Country_France  Country_Germany  Country_Spain
0  44.000000  72000.000000               1                0              0
1  27.000000  48000.000000               0                0              1
2  30.000000  54000.000000               0                1              0
3  38.000000  61000.000000               0                0              1
4  40.000000  63777.777778               0                1              0
5  35.000000  58000.000000               1                0              0
6  38.777778  52000.000000               0                0              1
7  48.000000  79000.000000               1                0              0
8  50.000000  83000.000000               0                1              0
9  37.000000  67000.000000               1                0              0

In [10]:
print(X.Age.mean(),X.Age.std())
X.Age = (X.Age-X.Age.mean())/X.Age.std()
print(X)

38.77777777777778 7.253777219533095
        Age        Salary  Country_France  Country_Germany  Country_Spain
0  0.719931  72000.000000               1                0              0
1 -1.623675  48000.000000               0                0              1
2 -1.210098  54000.000000               0                1              0
3 -0.107224  61000.000000               0                0              1
4  0.168495  63777.777778               0                1              0
5 -0.520801  58000.000000               1                0              0
6  0.000000  52000.000000               0                0              1
7  1.271368  79000.000000               1                0              0
8  1.547087  83000.000000               0                1              0
9 -0.245083  67000.000000               1                0              0

In [11]:
print(X.Salary.mean(),X.Salary.std())
X.Salary = (X.Salary-X.Salary.mean())/X.Salary.std()
print(X)

63777.777777777774 11564.099405562389
        Age        Salary  Country_France  Country_Germany  Country_Spain
0  0.719931  7.110128e-01               1                0              0
1 -1.623675 -1.364376e+00               0                0              1
2 -1.210098 -8.455287e-01               0                1              0
3 -0.107224 -2.402070e-01               0                0              1
4  0.168495  6.291850e-16               0                1              0
5 -0.520801 -4.996306e-01               1                0              0
6  0.000000 -1.018478e+00               0                0              1
7  1.271368  1.316334e+00               1                0              0
8  1.547087  1.662233e+00               0                1              0
9 -0.245083  2.786401e-01               1                0              0

In [12]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [13]:
#y = pd.get_dummies(y)
#y

In [14]:
# train test split data
from sklearn.model_selection import train_test_split

In [15]:
# 切分訓練集和測試集
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 此處因題目規定前7筆作train data,後3筆為test data,因此直接取row
X_train = X.iloc[:7]
y_train = y[:7]
X_test = X.iloc[7:]
y_test = y[7:]
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((7, 5), (7,), (3, 5), (3,))

In [16]:
# create model
from sklearn.tree import DecisionTreeClassifier

In [17]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [18]:
y_pred

array([0, 0, 1])

In [19]:
# evaluation
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.6666666666666666

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1, 0],
       [1, 1]], dtype=int64)

In [21]:
labelencoder.inverse_transform(y_pred),labelencoder.inverse_transform(y_test)

(array(['No', 'No', 'Yes'], dtype=object),
 array(['Yes', 'No', 'Yes'], dtype=object))

## 整理成一block

In [ ]:
# predict Purchased-classification

In [ ]:
# use standardization

In [21]:
import pandas as pd
import statsmodels.api as sm

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

data = pd.read_csv(source)
#data

# data cleaning
print("\nbefore data cleaning:\n",data.isnull().sum())
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())
print("\nafter data cleaning:\n",data.isnull().sum())

# data preprocess
X = data[["Country","Age","Salary"]]
y = data["Purchased"]
#print(X,y)
X = pd.get_dummies(X)
print("\nafter one hot encoding X:\n",X)

# standardization Age and Salary
#print(X.Age.mean(),X.Age.std())
X.Age = (X.Age-X.Age.mean())/X.Age.std()
print("\nX[\"Age\"] after standardization:\n",X.Age)
#print(X.Salary.mean(),X.Salary.std())
X.Salary = (X.Salary-X.Salary.mean())/X.Salary.std()
print("\nX[\"Salary\"] after standardization:\n",X.Salary)

# Label encoding y
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)
print("\nafter label encoding y:",y)


# train test split data
# 切分訓練集和測試集
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 此處因題目規定前7筆作train data,後3筆為test data,因此直接取row
X_train = X.iloc[:7]
y_train = y[:7]
X_test = X.iloc[7:]
y_test = y[7:]
print(f"\nshape after train test split X_train:{X_train.shape},y_train:{y_train.shape},X_test:{X_test.shape},y_test:{y_test.shape})")

# create model
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_inverse = labelencoder.inverse_transform(y_pred)
print("\npredict result:",y_pred_inverse)

print("original result:",labelencoder.inverse_transform(y_test))

before data cleaning:
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

after data cleaning:
 Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

after one hot encoding X:
          Age        Salary  Country_France  Country_Germany  Country_Spain
0  44.000000  72000.000000               1                0              0
1  27.000000  48000.000000               0                0              1
2  30.000000  54000.000000               0                1              0
3  38.000000  61000.000000               0                0              1
4  40.000000  63777.777778               0                1              0
5  35.000000  58000.000000               1                0              0
6  38.777778  52000.000000               0                0              1
7  48.000000  79000.000000               1                0              0
8  50.000000  83000.000000               0                1              0
9  37.000000  67000.000000               1                0              0

X["Age"] after standardization:
 0    0.719931
1   -1.623675
2   -1.210098
3   -0.107224
4    0.168495
5   -0.520801
6    0.000000
7    1.271368
8    1.547087
9   -0.245083
Name: Age, dtype: float64

X["Salary"] after standardization:
 0    7.110128e-01
1   -1.364376e+00
2   -8.455287e-01
3   -2.402070e-01
4    6.291850e-16
5   -4.996306e-01
6   -1.018478e+00
7    1.316334e+00
8    1.662233e+00
9    2.786401e-01
Name: Salary, dtype: float64

after label encoding y: [0 1 0 0 1 1 0 1 0 1]

shape after train test split X_train:(7, 5),y_train:(7,),X_test:(3, 5),y_test:(3,))

predict result: ['No' 'No' 'Yes']
original result: ['Yes' 'No' 'Yes']

In [ ]:
# use minmaxscaler

In [22]:
import pandas as pd
import statsmodels.api as sm

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

data = pd.read_csv(source)
#data

# data cleaning
print("\nbefore data cleaning:\n",data.isnull().sum())
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())
print("\nafter data cleaning:\n",data.isnull().sum())

# data preprocess
X = data[["Country","Age","Salary"]]
y = data["Purchased"]
#print(X,y)
X = pd.get_dummies(X)
print("\nafter one hot encoding X:\n",X)

# MaxMinScaler Age and Salary
#print(X.Age.mean(),X.Age.std())
X.Age = (X.Age-X.Age.min())/(X.Age.max()-X.Age.min())
print("\nX[\"Age\"] after MaxMinScaler:\n",X.Age)
#print(X.Salary.mean(),X.Salary.std())
X.Salary = (X.Salary-X.Salary.min())/(X.Salary.max()-X.Salary.min())
print("\nX[\"Salary\"] after MaxMinScaler:\n",X.Salary)

# Label encoding y
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)
print("\nafter label encoding y:",y)


# train test split data
# 切分訓練集和測試集
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 此處因題目規定前7筆作train data,後3筆為test data,因此直接取row
X_train = X.iloc[:7]
y_train = y[:7]
X_test = X.iloc[7:]
y_test = y[7:]
print(f"\nshape after train test split X_train:{X_train.shape},y_train:{y_train.shape},X_test:{X_test.shape},y_test:{y_test.shape})")

# create model
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred_inverse = labelencoder.inverse_transform(y_pred)
print("\npredict result:",y_pred_inverse)
print("original result:",labelencoder.inverse_transform(y_test))

before data cleaning:
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

after data cleaning:
 Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

after one hot encoding X:
          Age        Salary  Country_France  Country_Germany  Country_Spain
0  44.000000  72000.000000               1                0              0
1  27.000000  48000.000000               0                0              1
2  30.000000  54000.000000               0                1              0
3  38.000000  61000.000000               0                0              1
4  40.000000  63777.777778               0                1              0
5  35.000000  58000.000000               1                0              0
6  38.777778  52000.000000               0                0              1
7  48.000000  79000.000000               1                0              0
8  50.000000  83000.000000               0                1              0
9  37.000000  67000.000000               1                0              0

X["Age"] after MaxMinScaler:
 0    0.739130
1    0.000000
2    0.130435
3    0.478261
4    0.565217
5    0.347826
6    0.512077
7    0.913043
8    1.000000
9    0.434783
Name: Age, dtype: float64

X["Salary"] after MaxMinScaler:
 0    0.685714
1    0.000000
2    0.171429
3    0.371429
4    0.450794
5    0.285714
6    0.114286
7    0.885714
8    1.000000
9    0.542857
Name: Salary, dtype: float64

after label encoding y: [0 1 0 0 1 1 0 1 0 1]

shape after train test split X_train:(7, 5),y_train:(7,),X_test:(3, 5),y_test:(3,))

predict result: ['No' 'No' 'Yes']
original result: ['Yes' 'No' 'Yes']

In [ ]:
# predict Salary-regression

In [ ]:
# use standardization

In [24]:
import pandas as pd
import statsmodels.api as sm

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

data = pd.read_csv(source)
#data

# data cleaning
print("\nbefore data cleaning:\n",data.isnull().sum())
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())
print("\nafter data cleaning:\n",data.isnull().sum())

# data preprocess
X = data[["Country","Age","Purchased"]]
y = data["Salary"]
#print(X,y)
X = pd.get_dummies(X)
print("\nafter one hot encoding X:\n",X)

# standardization Age
#print(X.Age.mean(),X.Age.std())
X.Age = (X.Age-X.Age.mean())/X.Age.std()
print("\nX[\"Age\"] after standardization:\n",X.Age)

# train test split data
# 切分訓練集和測試集
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 此處因題目規定前7筆作train data,後3筆為test data,因此直接取row
X_train = X.iloc[:7]
y_train = y[:7]
X_test = X.iloc[7:]
y_test = y[7:]
print(f"\nshape after train test split X_train:{X_train.shape},y_train:{y_train.shape},X_test:{X_test.shape},y_test:{y_test.shape})")

# create model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
#y_pred_inverse = labelencoder.inverse_transform(y_pred)
print("\npredict result:",y_pred)
print("original result:",np.array(y_test))

before data cleaning:
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

after data cleaning:
 Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

after one hot encoding X:
          Age  Country_France  Country_Germany  Country_Spain  Purchased_No  \
0  44.000000               1                0              0             1
1  27.000000               0                0              1             0
2  30.000000               0                1              0             1
3  38.000000               0                0              1             1
4  40.000000               0                1              0             0
5  35.000000               1                0              0             0
6  38.777778               0                0              1             1
7  48.000000               1                0              0             0
8  50.000000               0                1              0             1
9  37.000000               1                0              0             0

   Purchased_Yes
0              0
1              1
2              0
3              0
4              1
5              1
6              0
7              1
8              0
9              1

X["Age"] after standardization:
 0    0.719931
1   -1.623675
2   -1.210098
3   -0.107224
4    0.168495
5   -0.520801
6    0.000000
7    1.271368
8    1.547087
9   -0.245083
Name: Age, dtype: float64

shape after train test split X_train:(7, 6),y_train:(7,),X_test:(3, 6),y_test:(3,))

predict result: [72769.62747536 73458.79315466 62312.82538377]
original result: [79000. 83000. 67000.]

In [ ]:
# use minmaxscaler

In [25]:
import pandas as pd
import statsmodels.api as sm

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

source = 'https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv'

data = pd.read_csv(source)
#data

# data cleaning
print("\nbefore data cleaning:\n",data.isnull().sum())
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())
print("\nafter data cleaning:\n",data.isnull().sum())

# data preprocess
X = data[["Country","Age","Purchased"]]
y = data["Salary"]
#print(X,y)
X = pd.get_dummies(X)
print("\nafter one hot encoding X:\n",X)

# MinMaxScalar Age
X.Age = (X.Age-X.Age.min())/(X.Age.max()-X.Age.min())
print("\nX[\"Age\"] after MinMaxScalar:\n",X.Age)

# train test split data
# 切分訓練集和測試集
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# 此處因題目規定前7筆作train data,後3筆為test data,因此直接取row
X_train = X.iloc[:7]
y_train = y[:7]
X_test = X.iloc[7:]
y_test = y[7:]
print(f"\nshape after train test split X_train:{X_train.shape},y_train:{y_train.shape},X_test:{X_test.shape},y_test:{y_test.shape})")

# create model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
#y_pred_inverse = labelencoder.inverse_transform(y_pred)
print("\npredict result:",y_pred)
print("original result:",np.array(y_test))

before data cleaning:
 Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

after data cleaning:
 Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

after one hot encoding X:
          Age  Country_France  Country_Germany  Country_Spain  Purchased_No  \
0  44.000000               1                0              0             1
1  27.000000               0                0              1             0
2  30.000000               0                1              0             1
3  38.000000               0                0              1             1
4  40.000000               0                1              0             0
5  35.000000               1                0              0             0
6  38.777778               0                0              1             1
7  48.000000               1                0              0             0
8  50.000000               0                1              0             1
9  37.000000               1                0              0             0

   Purchased_Yes
0              0
1              1
2              0
3              0
4              1
5              1
6              0
7              1
8              0
9              1

X["Age"] after MinMaxScalar:
 0    0.739130
1    0.000000
2    0.130435
3    0.478261
4    0.565217
5    0.347826
6    0.512077
7    0.913043
8    1.000000
9    0.434783
Name: Age, dtype: float64

shape after train test split X_train:(7, 6),y_train:(7,),X_test:(3, 6),y_test:(3,))

predict result: [72769.62747536 73458.79315466 62312.82538377]
original result: [79000. 83000. 67000.]